
/*============================================================================= 
  Base Layout Styles
   ========================================================================== */

*{
  box-sizing: border-box;
  
}

body{
  background-color: aliceblue;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

h2,h1,li, h4{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

li{
  margin-bottom: .5em;
}

/****************
    Profile Section
  ****************/
.overview{
  text-align: center;
  color: darkgray;
  font-size: 1.2em;
}

.overview img{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 3em;
      
}

/*Portfolio
 ========================================================================== */

main{
  background: white;
  padding-top: 4em;
    
}  

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 .5em 4em .5em;
    margin-top: 4em;
        
  }

.siteSample,
li img{
  max-width: 95%;
  
}


/*Footer
   ========================================================================== */

.contact{
  color: dimgray;
  padding: 1em .5em 1em .5em;
  margin-bottom: 3em;
  text-align: center;
      
}


.mobel-footer a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  }
.main-footer{
  display: none;
}

.mobel-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  padding: 0 .5em 0 .5em;
}

/*============================================================================= 
  Font
   ========================================================================== */
p {
  font-size: .85em;
  margin-top: .5em;
  width: inherit
  
}
h1 {
  font-size: 1.5em;
  margin-bottom: .5em;
  margin-top: 1em;
  
  
}
h2{
  font-size: 1em;
  margin-bottom: .5em;
  margin-top: 1em;
}
h3{
  font-size: .85em;
  margin-bottom: .5em;
  margin-top: 1em;
  width: inherit;
  
}
.main-nav{
  font-size: .8em;
  font-weight: bold;
  padding: 0;
}


  



/*============================================================================= 
  Media Queries
   ========================================================================== */

  /*Media Mid Screen
   ========================================================================== */
@media only screen and (min-width: 768px){
  
  
    
  /****************
    Nav
  ****************/
  
  .main-nav{
    display: flex; /* changed from inline flex*/
    flex-direction: row;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 4em;
    justify-content: center;/*added justfied content*/
    align-items: center;
    flex-wrap: wrap;
          
  }
  
  .studentName {
    flex-basis: 100%;
  }  
  
  .main-nav a {
    padding: 0 1em;
  }
  
  
  /****************
    Profile Section
  ****************/
      
  .aboutMe{
    color: dimgray;
    font-size: 1em;
    text-align: left;
    padding: 0 0 0 1em;
            
  }
  
  
  /****************
    Profile Img
  ****************/
  img.profileImg{
    width: 45%;
    margin-bottom: 4em;
    display: inline;
    padding: 0 1em;
    
  }
  
    
/*Portfolio
 ========================================================================== */
.wraper{
    max-width: 1119px;
    margin-right: 6%;
    margin-left: 6%;
        
  }
  
  main{
    margin: 0;
    padding-top: 4em;
    
  }
    
  .portfolio li,
  .portfolio img{ /*this is what i targeted to start to fix gallery */
    min-width: 260px;
    max-width: 25%;
    
      
  }
 
  .list{
    margin-right: 1em;
    margin-left: 1em;
  }
  
  .overview img{
    float: right;
       
  }
  
  
  /*Footer
   ========================================================================== */
  
.mobel-footer{
  display: none;
    
}
  
  .contactTitle{
    color: black;
    padding-bottom: 1em;
    font-size: 1em;
  }
  
  .contact{
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    font-size: 1em;
   
    
  }
  .main-footer{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    font-weight: bold;
    justify-content: flex-end;
    
            
  }
  
  .main-footer a{
    padding: 0 1em;
    
  }
  
  .footName{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    font-size: 1em;
    align-self: center;
      
  }
 
  
  
 /* Clearfix
   ========================================================================== */
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
    
  }
}


/*============================================================================= 
  Media Large Screen
   ========================================================================== */
@media only screen and (min-width: 1024px){
  
  
  /****************************************************
    Nav
  *****************************************************/
  
  .main-nav{
    display: flex; 
    flex-direction: row;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;
    justify-content: flex-end;
            
  }
  .studentName{
    margin-right: auto;
    flex-basis: auto;
    padding: 0 1em;
    
    }
  
  
  /****************
    Profile Section
  ****************/
  .aboutMe{
    padding-left: 1em;
       
  }
  .overview {
    padding-right: 2em;
    padding-left: 2em;
    font-size: 1em;
                
  }
  
  .portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 0 4em 0;
  }
  
  /*****************************************************
    Profile Img
  ******************************************************/
    
  .overview img{
    float: right;
        
  }
  
   
  /*============================================================================= 
  Footer
   ========================================================================== */
   
  .contact{
    max-width: 60%;
      
  }
  
  .main-footer{
    margin-top: 4em;
    margin-right: 2em;
                
  }
  .footName{
    margin-left: 2em;
      }
  
    
  }
